section {
	height: 79vh;
}
.auth-input {
	width: 100%;
	padding: 1rem 0;
}
.w-full {
	width: 100%;
}
.w-50 {
	width: 50%;
}
.submit-button {
	margin-left: 1rem;
}

.sign-up-button {
	margin-right: 4rem;
}

.sign-up-block {
	margin: 1rem 0;
}
