<section>
	@if (signInForm) {
		<form class="flex-direction-columns" [formGroup]="registerForm">
			<mat-form-field class="auth-input">
				<mat-label>Email</mat-label>
				<input
					type="email"
					matInput
					formControlName="email"
					placeholder="Ex. pat@example.com" />
				@if (authForm.hasError('email') && !authForm.hasError('required')) {
					<mat-error>Please enter a valid email address</mat-error>
				}
				@if (authForm.hasError('required')) {
					<mat-error>Email is <strong>required</strong></mat-error>
				}
			</mat-form-field>
			<mat-form-field class="auth-input">
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password" />
				@if (authForm.hasError('required')) {
					<mat-error>Password is <strong>required</strong></mat-error>
				}
			</mat-form-field>
		</form>
		<div class="flex-block">
			<button mat-flat-button (click)="cancelSubmitAuthForm()">Cancel</button>
			<button
				mat-flat-button
				class="submit-button"
				[disabled]="!registerForm.valid"
				(click)="submitRegister()">
				Submit
			</button>
		</div>
	} @else if (showForgotPassword) {
		<div>
			<form [formGroup]="resetPasswordForm">
				<mat-form-field class="auth-input">
					<mat-label>Email</mat-label>
					<input
						type="email"
						matInput
						formControlName="email"
						placeholder="Ex. pat@example.com" />
					@if (
						resetPasswordForm.hasError('email') &&
						!authForm.hasError('required')
					) {
						<mat-error>Please enter a valid email address</mat-error>
					}
					@if (resetPasswordForm.hasError('required')) {
						<mat-error>Email is <strong>required</strong></mat-error>
					}
				</mat-form-field>
			</form>
			<div class="flex-block sign-up-block">
				<button mat-flat-button (click)="forgotPasswordFormSend()">
					Update password
				</button>
			</div>
		</div>
	} @else {
		<div>
      @if(isLoading){
      <app-spinner></app-spinner>
      }@else {
        <form class="flex-direction-columns" [formGroup]="authForm">
          <mat-form-field class="auth-input">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Ex. pat@example.com" />
            @if (authForm.hasError('email') && !authForm.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
            }
            @if (authForm.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <mat-form-field class="auth-input">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Ex. pat@example.com" />
          </mat-form-field>
        </form>
        <div class="flex-direction-columns">
          <div class="flex-block gap-1rem">
            <button mat-flat-button (click)="cancelSubmitAuthForm()">
              Cancel
            </button>
            <button
              mat-flat-button
              [disabled]="!authForm.valid"
              (click)="submitAuth()">
              Submit
            </button>
            <button mat-icon-button (click)="submitGoogleAuth()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0,0,256,256"
                width="48px"
                height="48px"
                fill-rule="nonzero">
                <g
                  fill="#005cbb"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal">
                  <g transform="scale(10.66667,10.66667)">
                    <path
                      d="M12.545,10.239v3.821h5.445c-0.712,2.315 -2.647,3.972 -5.445,3.972c-3.332,0 -6.033,-2.701 -6.033,-6.032c0,-3.331 2.701,-6.032 6.033,-6.032c1.498,0 2.866,0.549 3.921,1.453l2.814,-2.814c-1.777,-1.619 -4.141,-2.607 -6.735,-2.607c-5.524,0 -10.002,4.477 -10.002,10c0,5.523 4.478,10 10.002,10c8.396,0 10.249,-7.85 9.426,-11.748z"></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <div class="flex-block sign-up-block">
          <button mat-flat-button (click)="signUp()">Sign up</button>
          <button mat-flat-button (click)="forgotPasswordFormShow()">
            Forgot your password ?
          </button>
        </div>
      }

		</div>
	}
</section>
