.example-spacer {
	flex: 1 1 auto;
}

mat-toolbar {
	background: #d7e3ff;
	color: #005cbb;
	padding-top: 20px;
	padding-bottom: 20px;
}
mat-icon {
	color: #005cbb;
}

::ng-deep mat-toolbar {
	justify-content: space-between;
}
.block {
	display: flex;
	justify-content: center;
	align-items: center;

	> a ::ng-deep .mdc-button__label {
		> img {
			border-radius: 50%;
		}
	}
}

.menu-btn {
	margin-top: 10px;
	margin-left: 9.5px;
}

.listItem {
	display: flex;
	justify-content: center;
	align-items: center;
	h3 {
		margin-bottom: 0;
		font-size: medium;
		margin-left: 15px;
	}

	mat-icon {
		color: #005cbb;
	}
}
.example-sidenav-content {
	@media (min-width: 900px) {
		padding: 70px;
	}
	@media (max-width: 900px) {
		padding: 2rem;
	}

	height: auto;
}
.mr-20px {
	margin-right: 20px !important;
}
.example-is-mobile .example-toolbar {
	position: fixed;
	z-index: 2;
}

.example-sidenav-container {
	flex: 1;
}
.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.sidenav-container {
	::ng-deep mat-sidenav {
		box-shadow: 10px 5px 5px gainsboro !important;
	}
}
