.w-500px {
	width: 500px;
}
.h-500px {
	height: 500px;
}
.mt-1 {
	margin-top: 1rem;
}
::ng-deep .mat-mdc-form-field-infix {
	display: flex;
}
.message-from-bot {
	margin-top: 1rem;
	border-radius: 15px;
	padding: 0.5rem;
	background: #005cbb;
	color: white;
}
.message-from-user {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
	border-radius: 15px;
	padding: 0.5rem;
	background: #005cbb;
	color: white;
}

.dialog-header {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2{
    margin: 0;
  }
}
