<section class="flex-direction-columns">
	<div class="dialog-header">
		<h2>Bot</h2>
		<button mat-icon-button (click)="closeBot()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<div mat-dialog-content class="w-500px h-500px" style="background: #d7e3ff">
		<ul>
			@for (message of messages; track userMessage) {
				<li
					[ngClass]="{
						'message-from-bot': message.user === 'bot',
						'message-from-user': message.user === 'user',
					}"
					class="">
					{{ message.message }}
				</li>
			}
		</ul>
	</div>
	<div mat-dialog-actions class="mt-1 flex-block gap-1rem" style="width: 100%">
		<form [formGroup]="botForm" style="width: 100%">
			<mat-form-field
				style="
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
				">
				<input
					matInput
					formControlName="conversation"
					placeholder="Insert your message" />
				<button matSuffix mat-button (click)="sendMessageToBot()">
					<mat-icon>send</mat-icon>
				</button>
			</mat-form-field>
		</form>
	</div>
</section>