/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 !important;
}

.pagination .ngx-pagination .current {
	background: #005cbb;
	border-radius: 15px;
	color: white;
}
.default-height {
	height: 80vh;
}
.page-container {
	width: 95%;
	font-size: 30px;
	background: #c4c4c4;
	border-radius: 10px;
	min-height: 80vh;
}

.pagination .ngx-pagination {
	font-size: 15px;

	li {
		margin-right: 10px;
	}

	a {
		color: #005cbb !important;
	}

	li > a:hover {
		background: #005cbb;
		border-radius: 15px;
		color: white !important;
	}
}
